@charset "utf-8";

#banner{
	background-color:#e20319;
	
	 height: 140px; 
      width: 100%; 

}

#fuente{
	font-family:"Helvetica";
	color:#fcfcfc;

}


#fcontenido{
	font-family:"Helvetica";
	color:#000000;
	padding:35px;
}
#contenido{

	border:2px solid #FFFFFF;
	background-color:#FFFFFF;
	margin: 0 auto;
	width:40%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:5px;border-radius:5px; /* css3 */
	position:relative;      
                -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                box-shadow:0 0px 4px #777;
}

#contenido2{
	border:2px solid #e20319;
	background-color:#e20319;
	margin-right:15px;
	margin: 0 auto;
	width:70%;
	height:40px;
	display:flex;
  align-items: center;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}

#contenido3{

	border:2px solid #FFFFFF;
	background-color:#FFFFFF;
	margin: 0 auto;
	width:70%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:5px;border-radius:5px; /* css3 */
	position:relative;      
                -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                box-shadow:0 0px 4px #777;
}

#contenido4{
	border:2px solid #e20319;
	background-color:#e20319;
	margin-right:30px;
	width:100%;
	height:40px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}

}
#tamano{
	border:2px solid #32a858;
	background-color:#defce8;
	margin:0 auto;
	width:100%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#err{
	border:2px solid #d64747;
	background-color:#d64747;
	margin:0 auto;
	width:50%;
	font-weight: bold;

	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}

 body{
	background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#datos{
text-align:center;
font-size: 26px;

}

select{
	 width:143px;
}

label{
	margin-top:8px;
	color: black;
	margin-right: 15px;
}

#btnPublicar
{
	background-color:#e20319;
margin-left: 320px;
webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px;
}

#agregar{
	background-color:#e20319;
	border-color: #e20319;
	margin-left: 480px;
	-webkit-border-radius:12px;	-moz-border-radius:5px;border-radius:5px; 
}

#redondo{

  width: 50px;
  height: 50px;
   border-radius: 50%;
   align-self: 500px;
}
