@charset "utf-8";

#banner{
	background-color:#e20319;
	height: 140px; 
  width: 100%; 

}

#inicio{
	background-color:#ffff;
	opacity: 80%;
	margin-left:470px;
	width:30%;
	height: 400px; 
								-webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                box-shadow:0 0px 4px #777;
}

.card{
	-webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                box-shadow:0 0px 4px #777;
}

#nombre{
	font-family:"Impact";
	color:#FFFFFF;
	text-align: center;
	background-color:#e20319;
	opacity: 90%;
	margin-left:470px;
	width:30%;
	height: 0 auto; 
	padding:15px;
								-webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                box-shadow:0 0px 4px #777;
}



#fuente{
	font-family:"Helvetica";
	color:#fcfcfc;

}


#fcontenido{
	font-family:"Helvetica";
	color:#000000;
	padding:35px;
}

#contenido{

	border:2px solid #FFFFFF;
	background-color:#FFFFFF;
	margin:0 auto;
	width:90%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:5px;border-radius:5px; /* css3 */
	position:relative;      
                -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                box-shadow:0 0px 4px #777;
}

#tam{
	width: 80%;
	margin: 0 auto;	

}

#letra{
	font-family:"Helvetica";
	color:black;
	font-weight: bold;
} 

#ole{
	margin-left: 47%;

}

#tamano{
	border:2px solid #32a858;
	background-color:#defce8;
	margin:0 auto;
	width:100%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}
#err{
	border:2px solid #d64747;
	background-color:#d64747;
	margin:0 auto;
	width:50%;
	font-weight: bold;

	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
}



table{
	background:white; 
	margin: 15px;
	text-align: center;
	
font-size:"40";
} 
table th{
	color:black;
	text-align:center;
	background:white;
}
table tr:nth-child(even) {/* css3 */ 
 	color:#000;
	background:white; 
	text-align: center;
}
table tr:nth-child(odd) {/* css3 */
	background: white;
	text-align: center;
}
table tr:nth-child(odd):hover{
	background-color:lightgray;
	text-align: center;
}
table tr:nth-child(even):hover{
	background-color:lightgray;
	text-align: center;
}
#vent{
	border:2px solid #FFFFFF;
	background-color:#FFFFFF;
	margin:0 auto;
	width:95%;
	height:auto;
	padding:15px;
	-webkit-border-radius:12px;	-moz-border-radius:12px;border-radius:12px; /* css3 */
	position:relative;      
                -webkit-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                -moz-box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
                box-shadow:0 0px 4px #777, 0 0 20px #CCC inset;
}

#totalfiado{
	font-size: 30px;
	margin-left: 50px;
}



#totalfiado{
	font-size: 25px;
  
}

#saldo{
	margin-left: 50px;
	font-size: 20px;
}
#clien{
	margin-left: 50px;
	font-size: 20px;
}

#btnAbono{
	margin-left: 320px;
	background-color: #e20319;
	border-color: #e20319;
	color: white;
}


#redondo{

  width: 70px;
  height: 70px;
   border-radius: 50%;
   align-self: 500px;
}

#back{
	width:100%; 
	height: 100vh;
	background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

 body{
	background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
