<head>
	<title>DatosEncuesta - SWEIS
		</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/index.css"/>
	
</head>
<body onload="">
	<script rel="stylesheet" type="text/javascript" src=""></script>



<div  id="banner" class="container-fluid">
	<div class="row">
		<div class="col-md-7 text-white text-center">
			<img src="../images/logo.png" class="d-block" alt='...' height="130px" width="130px"></div>
			<div id="fuente" class="col-md-5 mt-4 text-white text-center"><br>				
				<a href="catalogo.html"><button type="button" onclick ="" class="btn text-white" style="font-family:Impact; font-size: 20px;">Catálogo de Encuestas</button></a>
					  <a href="micuenta.html"><button type="button" class="btn text-white" style="font-family: Impact; font-size: 20px;">Mi cuenta</button></a>
				<a href="micuenta.html"><img src="../images/micuenta.png" class="align-right" alt='...' height="30px" width="30px"></a>
			</div>				
	</div>
</div><br>

<div id="contenido">
<p id="datos"><b> Datos de la encuesta </b></p>
	<div id="contenido2">
	<label id="texto"style="margin-left: 20px;">Población: </label>
	<select class="form-select" style="margin-left:79px;" aria-label="Default select example">
  <option selected>Población</option>
  <option value="1">Estudiantes</option>
  <option value="2">Graduados</option>
  <option value="3">Docentes</option>
</select>
	</div>
<br>
	<div id="contenido2">
	<label id="texto" style="margin-left: 20px;">Encuestados: </label>
	<select class="form-select" style="margin-left:60px;" aria-label="Default select example">
  <option selected>Encuestados</option>
  <option value="1">Estudiantes</option>
  <option value="2">Graduados</option>
  <option value="3">Docentes</option>
</select>
	</div>
<br>
	<div id="contenido2">
	<label id="texto"style="margin-left: 20px;">Fecha Inicio: </label>
	<input style="margin-left: 65px;" type="date" name="fechaInicio">
	</div> 
<br>
	<div id="contenido2">
		<label id="texto"style="margin-left: 20px;">Fecha Finalización: </label>
		<input style="margin-left: 21px;" type="date" name="fechaInicio">
	</div>   	
	<br>
<button type="button" id="btnPublicar" class="btn btn-danger" style="width: 180px;">Publicar Encuesta</button>
</div>

