<head>
	<title>Inicio - SWEIS
		</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/inicio.css"/>
	
</head>
<body onload="">
	<script rel="stylesheet" type="text/javascript" src=""></script>



<div  id="banner" class="container-fluid">
	<div class="row">
		<div class="col-md-7 text-white text-center">
			<img src="../images/logo.png" class="d-block" alt='...' height="130px" width="130px"></div>
			<div id="fuente" class="col-md-5 mt-4 text-white text-center"><br>				
				<a href="catalogo.html"><button type="button" onclick ="" class="btn text-white" style="font-family:Impact; font-size: 20px;">Catálogo de Encuestas</button></a>
					  <a href="micuenta.html"><button type="button" class="btn text-white" style="font-family: Impact; font-size: 20px;">Mi cuenta</button></a>
				<a href="micuenta.html"><img src="../images/micuenta.png" class="align-right" alt='...' height="30px" width="30px"></a>
			</div>				
	</div>
</div><br>


<div style="margin: 70px">
	<div  class="input-group mb-3" >
			  <input type="search" class="form-control" placeholder="Search" aria-describedby="basic-addon2"> 
			  <div class="input-group-append">
			    <button type="button" style="background-color:#e20319; font-size: 16px" class="btn text-white">Buscar</button>
			  </div>
			</div>
</div>


<div id="contenido">
	<div class="row"> 
		<div class="col-md-10">
			<label style=" font-family: Times-New-Roman;font-size: 22px; margin-left: 80px;">Encuesta xxxxx</label></div>
		<div class="col-md-2">
			<div class="dropdown show" style="align-right">
				  <a class="btn dropdown-toggle" style="color:white;" src="images/puntos.png" href="#" role="button" id="desplegable" data-toggle="dropdown" aria-haspopup="true"> 
				  	<img src="../images/puntos.png" class="align-right" height="25px" width="25px"></a>

					  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					    <a class="dropdown-item" data-toggle="modal" href="#elimencuesta">Eliminar</a>
					    <a class="dropdown-item" href="#">Editar preguntas</a>
					    <a class="dropdown-item" data-toggle="modal" href="#editarfecha">Editar fecha</a>
					    <a class="dropdown-item" href="#">Ver respuestas</a>
					    <a class="dropdown-item" href="#">Estadísticas</a>
					  </div>
					</div>
			</div>
	</div>
</div><br><br>

<div class="row">
<div class="col-md-11 text-right"  >
		    <button id="redondo" style="background-color:#e20319" class="btn text-white"><h3>+</h3></button>
		  </div>
</div>



<div class="modal fade" id="elimencuesta" style="top:250px">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="model-header">
						<button tyle="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-left: 10px">&times;</button>
						<h6 class="modal-title" style="text-align: center">¿Seguro quiere eliminar esta encuesta?</h6>
						</div>
						<div class="modal-footer" style="text-align: center">
							<button type="button" style="background-color:#e20319; font-size:16px; width:40%" class="btn text-white">Eliminar Encuesta</button>
							<button type="button" style="background-color:#a19f9f" class="btn text-white" data-dismiss="modal">Cancelar</button>
						</div>
					</div>
				</div>
			</div>


<div class="modal fade" id="editarfecha" style="top:180px">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="model-header">
						<button tyle="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-left: 10px">&times;</button>
						<h3 class="modal-title" style="text-align: center">Editar Fecha</h3>
						</div>
						<div class="modal-footer" >
							<label style="margin-right: 150px;">Fecha de Finalización</label>
							<input style="margin-right: 150px;" type="file" name="" style="border-color:#e20319;">
						</div>
					</div>
				</div>
			</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>