<head>
	<title>Población - SWEIS
		</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/inicio.css"/>
	
</head>
<body onload="">
	<script rel="stylesheet" type="text/javascript" src=""></script>



<div  id="banner" class="container-fluid">
	<div class="row">
		<div class="col-md-7 text-white text-center">
			<img src="../images/logo.png" class="d-block" alt='...' height="130px" width="130px"></div>
			<div id="fuente" class="col-md-5 mt-4 text-white text-center"><br>				
				<a href="catalogo.html"><button type="button" onclick ="" class="btn text-white" style="font-family:Impact; font-size: 20px;">Catálogo de Encuestas</button></a>
					  <a href="micuenta.html"><button type="button" class="btn text-white" style="font-family: Impact; font-size: 20px;">Mi cuenta</button></a>
				<a href="micuenta.html"><img src="../images/micuenta.png" class="align-right" alt='...' height="30px" width="30px"></a>
			</div>				
	</div>
</div><br>


<div  class="container-fluid">
	<h1 style="color: #e20319; text-align: center;">Administrar poblaciones</h1><br>

</div>

<div>
	<div class="row ml-5 mr-5" style="text-align:center;">

		<div class="card" style="width: 31%; text-align:center; margin-left: 25px;">
		  <div class="card-body">
		    <h5 class="card-title" name="nombre">Población xx</h5>
		    <a href="#encuestados" data-toggle="modal"><button style="background-color:lightgray;" type="submit" class="btn text-black">Ver</button></a>
		    <a href="" ><button style="background-color:#e20319" type="submit" class="btn text-white">Editar</button></a>
		  </div>
		</div>


	</div>
</div>



<div class="row">
<div class="col-md-11 text-right"  >
		    <a href="preguntas.html"><button id="redondo" style="background-color:#e20319" class="btn text-white"><h3>+</h3></button></a>
		  </div>
</div>


<div id="contenido">
	<div class="row"> 
		<div class="col-md-6">
			<label style=" font-family: Times-New-Roman;font-size: 22px; margin-left: 80px;">Nueva población: </label>
				<input type="text" placeholder="Nombre de la población" class="confondo" style="width: 300px; border-bottom:solid 2px; border-top: #FFFFFF; border-right:#FFFFFF ; border-left:#FFFFFF">
		</div>
		<div class="col-md-6">
			<input type="file" name="">
			</div></div> <br>
	<div class="row"> 
		<input type="" name=""  style="width:1000px;height:200px; margin-left: 100px;">
	</div>
</div><br>

<div id="contenido">
	<div class="row"> 
		<div class="col-md-6">
			<label style=" font-family: Times-New-Roman;font-size: 22px; margin-left: 80px;">Población xxxxx</label></div>
		<div class="col-md-6">
			<input type="file" name="">
			</div></div> <br>
	<div class="row"> 
		<input type="" name=""  style="width:1000px;height:200px; margin-left: 100px;">
	</div>
</div><br>




<div class="modal fade" id="encuestados" style="top:180px">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="model-header">
				<button tyle="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-left: 10px">&times;</button>
				<h3 class="modal-title" style="text-align: center">Encuestados</h3>
			</div>
				<div class="modal-footer" >
					<label style="margin-right: 150px;">Encuestado 1, for</label>
				</div>
		</div>
	</div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>