<head>
	<title>Preguntas - SWEIS
		</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/index.css"/>
	
</head>
<body onload="">
	<script rel="stylesheet" type="text/javascript" src=""></script>



<div  id="banner" class="container-fluid">
	<div class="row">
		<div class="col-md-7 text-white text-center">
			<img src="../images/logo.png" class="d-block" alt='...' height="130px" width="130px"></div>
			<div id="fuente" class="col-md-5 mt-4 text-white text-center"><br>				
				<a href="catalogo.html"><button type="button" onclick ="" class="btn text-white" style="font-family:Impact; font-size: 20px;">Catálogo de Encuestas</button></a>
					  <a href="micuenta.html"><button type="button" class="btn text-white" style="font-family: Impact; font-size: 20px;">Mi cuenta</button></a>
				<a href="micuenta.html"><img src="../images/micuenta.png" class="align-right" alt='...' height="30px" width="30px"></a>
			</div>				
	</div>
</div><br><br>

<div id="contenido3">
	<input type="text" placeholder="Título de la Encuesta" class="confondo" style="width: 400px; border-bottom:solid 2px; border-top: #FFFFFF; border-right:#FFFFFF ; border-left:#FFFFFF">
	<input type="file" name="archivosubido" style="margin-left: 180px;">
		<br><br>
		<p>Descripción de la encuesta:</p>
		<textarea style="margin: 0 auto;" name="message" rows="2" cols="122"></textarea>
		<br>
		<br>
	<!-- Pregunta SI/NO -->
	<div id="divpregunta">
		<div id="contenido4">
			<div class="row" style="margin-top: 5px;">
				<div class="col-md-1">
			<input type="text" placeholder="Formule la pregunta" class="confondo" style="width: 400px; border-bottom:#FFFFFF; border-top: #FFFFFF; border-right:#FFFFFF ; border-left:#FFFFFF;background-color: #e20319; margin-left:20px">
				</div>
				<div class="col-md-1">
						<select class="form-select" style="margin-left:650px;" aria-label="Default select example" placeholder="Opciones de respuestas">
  						<option selected>Selección Múltiple</option>
  						<option value="1">Selección Única</option>
  						<option value="2">Si/No</option>
  						<option value="3">Abierta</option>
						</select>
				</div>
			</div>
		</div>
			<div id="contenido5">
				<br>
				<form method="post">
					<div class="form-check form-check" style="margin-left:20px">
  						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  						<label class="form-check-label" for="inlineRadio1">Si</label>
					</div>
					<div class="form-check form-check" style="margin-left:20px">
 						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  					<label class="form-check-label" for="inlineRadio2">No</label>
					</div>
				</form>
			</div>
	</div>


	<!-- Pregunta de selección única-->
	<div id="divpregunta">
		<div id="contenido4">
			<div class="row" style="margin-top: 5px;">
				<div class="col-md-1">
			<input type="text" placeholder="Formule la pregunta" class="confondo" style="width: 400px; border-bottom:#FFFFFF; border-top: #FFFFFF; border-right:#FFFFFF ; border-left:#FFFFFF;background-color: #e20319; margin-left:20px">
		</div>
			<select class="form-select" style="margin-left:663px;" aria-label="Default select example" placeholder="Opciones de respuestas">
  				<option selected>Selección Múltiple</option>
  				<option value="1">Selección Única</option>
  				<option value="2">Si/No</option>
  				<option value="3">Abierta</option>
			</select>
		</div>
		</div>
		<br>
		<div id="contenido5">
			<button id="agregar" style="margin-left: 570px">Agregar Respuesta</button>
			<form method="post">
				<div class="form-check form-check" style="margin-left:20px">
				<br>
  				<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  				<input class="form-check-label" for="inlineRadio1" placeholder="Ingrese respuesta">
				</div>
			</form>
		</div>
	</div>
<!--Pregunta selección Múltiple-->
	<div id="divpregunta">
		<div id="contenido4">
			<div class="row" style="margin-top: 5px;">
				<div class="col-md-1">
				<input type="text" placeholder="Formule la pregunta" class="confondo" style="width: 400px; border-bottom:#FFFFFF; border-top: #FFFFFF; border-right:#FFFFFF ; border-left:#FFFFFF;background-color: #e20319; margin-left:20px">
			</div>
				<select class="form-select" style="margin-left:663px;" aria-label="Default select example" placeholder="Opciones de respuestas">
  					<option selected>Selección Múltiple</option>
  					<option value="1">Selección Única</option>
  					<option value="2">Si/No</option>
  					<option value="3">Abierta</option>
				</select>
			</div>
		</div>

		<div id="contenido5">
			<br>
			<button id="agregar" style="margin-left: 570px">Agregar Respuesta</button>
			<!-- Respuesta de check -->
				<form method="post">
				<div class="form-check form-check" style="margin-left:20px">
				<br>
  					<input class="form-check-input" type="checkbox" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  					<input class="form-check-label" for="inlineCheck1" placeholder="Ingrese respuesta">
				</div>
				</form>
		</div>

	</div>

	<!--Pregunta abierta-->
	<div id="divpregunta">
		<div id="contenido4">
			<div class="row" style="margin-top: 5px;">
				<div class="col-md-1">
				<input type="text" placeholder="Formule la pregunta" class="confondo" style="width: 400px; border-bottom:#FFFFFF; border-top: #FFFFFF; border-right:#FFFFFF ; border-left:#FFFFFF;background-color: #e20319; margin-left:20px">
			</div>
			<div class="col-md-1">
				<select class="form-select" style="margin-left:650px;" aria-label="Default select example" placeholder="Opciones de respuestas">
  					<option selected>Selección Múltiple</option>
  					<option value="1">Selección Única</option>
  					<option value="2">Si/No</option>
  					<option value="3">Abierta</option>
				</select>
				</div>
		</div>
		<br>
	<textarea style="margin-left: 70px;" name="message" rows="2" cols="100"></textarea>
	</div>
</div>
<br><br><br><br>
<div>
<a href="#ventana4" data-toggle="modal"><button id="redondo" style="background-color:#e20319; margin-left:800px" class="btn text-white"><h3>+</h3></button></a>
</div>
</div>
<br>
<a href="datosEncuestas.html"><button id="agregar" type="submit" style="margin-left: 975px">Finalizar Encuesta</button></a>

	