<head>
	<title>Respuestas - SWEIS
		</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	

	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="../css/inicio.css"/>
	
</head>
<body onload="">
	<script rel="stylesheet" type="text/javascript" src=""></script>



<div  id="banner" class="container-fluid">
	<div class="row">
		<div class="col-md-7 text-white text-center">
			<img src="../images/logo.png" class="d-block" alt='...' height="130px" width="130px"></div>
			<div id="fuente" class="col-md-5 mt-4 text-white text-center"><br>				
				<a href="inicio.html"><button type="button" onclick ="" class="btn text-white" style="font-family:Impact; font-size: 20px;">Catálogo de Encuestas</button></a>
					  <a href="micuenta.html"><button type="button" class="btn text-white" style="font-family: Impact; font-size: 20px;">Mi cuenta</button></a>
				<a href="micuenta.html"><img src="../images/micuenta.png" class="align-right" alt='...' height="30px" width="30px"></a>
			</div>				
	</div>
</div><br>


<div  class="container-fluid">
	<h1 style="color: #e20319; text-align: center;">Encuesta xxxxx</h1>
	<h4 style="text-align: center;">Respuestas</h4>

</div>

<div class="row ml-5 mr-5">
<table class="table table-striped text-center" width="800px" style="font-size:22px">
  <thead>
    <tr>
      <th scope="col" colspan="2">¿Cuántos años tiene?</th>
    </tr>
    <tr>
      <th scope="col">Respuestas</th>
      <th scope="col">Usuario</th>
    </tr>    
    
  </thead>
  <tbody>
    <tr>
      <td>21 años</td>
      <td>Leider</td>
    </tr>   
     <tr>
      <td>21 años</td>
      <td>Jheyner</td>
    </tr> 
  </tbody>
</table>
<br>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
